### Go template
# Binaries for programs and plugins
bin/
kube-prompt
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
pkg/

# glide
vendor/
.DS_Store
